.h3 {
  padding-top:10px;
  }

.about-language {
  float: left;
  width: 300px;
  height: 200px;
  padding-bottom: 30px;
  padding-right: 10px;
}
.container {
  width: 100%;
  padding-top: 5px;
}

.lg {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.java {width: 95%; background-color: #808080; height: 12px;}
.mysql {width: 90%; background-color: #808080; height: 12px;}
.html {width: 85%; background-color: #808080; height: 12px;}
.php {width: 80%; background-color: #808080; height: 12px;}

.about-skills {
  float: left;
  width: 300px;
  height: 200px;
  padding-bottom: 30px;
}


.progress-circle {
    float:left;
   font-size: 20px;
   margin: 10px;
   position: relative; 
   padding: 0;
   width: 5em;
   height: 5em;
   background-color: #F2E9E1; 
   border-radius: 50%;
   line-height: 5em;
}

.progress-circle:after{
    float:left;
    border: none;
    position: absolute;
    top: 0.35em;
    left: 0.35em;
    text-align: center;
    display: block;
    border-radius: 50%;
    width: 4.3em;
    height: 4.3em;
    background-color: white;
    content: " ";
}
.progress-circle span {
    position: absolute;
    line-height: 5em;
    width: 5em;
    text-align: center;
    display: block;
    color: #53777A;
    z-index: 2;
}
.left-half-clipper { 
   border-radius: 50%;
   width: 5em;
   height: 5em;
   position: absolute; 
   clip: rect(0, 5em, 5em, 2.5em); 
}
.progress-circle.over50 .left-half-clipper {
   clip: rect(auto,auto,auto,auto);
}
.value-bar {
   position: absolute; 
   clip: rect(0, 2.5em, 5em, 0);
   width: 5em;
   height: 5em;
   border-radius: 50%;
   border: 0.45em solid #53777A; 
   box-sizing: border-box;
  
}
.progress-circle.over50 .first50-bar {
   position: absolute;
   clip: rect(0, 5em, 5em, 2.5em);
   background-color: #53777A;
   border-radius: 50%;
   width: 5em;
   height: 5em;
}
.progress-circle:not(.over50) .first50-bar{ display: none; }

.progress-circle.p10 .value-bar { transform: rotate(36deg); }
.progress-circle.p33 .value-bar { transform: rotate(119deg); }
.progress-circle.p66 .value-bar { transform: rotate(238deg); }

.about-tool {
  float: left;
  width: 250px;
  height: 200px;
  padding-bottom: 30px;
}
.tools {
  width: 50px;
  height: 50px;
}
