.h3 {
  padding-top:10px;
  }

  


.about-skill {
  box-sizing: border-box;
  float: left;
  padding-right: 20px;
  width: 350px;
  height: 300px;
    container {
      width: 80%;
      height: 80%;
      background-color: #ddd;
      }
      skills {
        text-align: right;
        text-size: 2px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: white;
  
          java {width: 93%; background-color: #808080;}
          mysql {width: 90%; background-color: #808080;}
          html {width: 88%; background-color: #808080;}
          php {width: 80%; background-color: #808080;}
          }
  }
.about-tool {
  float: right;
  padding-left: 20px;
  width: 100px;
  height: 100px;
  }
