.h3 {
  padding-top:10px;
  }

.about-language {
  float: left;
  width: 300px;
  height: 200px;
  padding-bottom: 30px;
  padding-right: 10px;
}
.container {
  width: 100%;
  padding-top: 5px;
}

.lg {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.java {width: 95%; background-color: #808080; height: 12px;}
.mysql {width: 90%; background-color: #808080; height: 12px;}
.html {width: 85%; background-color: #808080; height: 12px;}
.php {width: 80%; background-color: #808080; height: 12px;}

.about-skills {
  float: left;
  width: 300px;
  height: 200px;
}

.indicator{
  width:80px;
  height:80px;
  background-color:white;
  text-align: center;
  position: relative;
  z-index:2;
}

.indicator span {
    position: absolute;
    line-height: 80px;
    font-size:12px;
    width: 80px;
    text-align: center;
    display: block;
    color: #53777A;
    z-index: 4;
}

.value-bar{
  background-color:#e67e22;
  position:absolute;
  width:60px;
  height:60px;
  border-radius:50%;
  clip: rect(0px 50px 80px 0px);
  transform: rotate(189deg);
  z-index:3;
}
.left-half{
  background-color:gray;
  position:absolute;
  width:60px;
  height:60px;
  border-radius:50%;
  clip: rect(0px 50px 80px 0px);
  z-index:3;
}
.right-half{
  background-color:gray;
  position:absolute;
  width:60px;
  height:60px;
  border-radius:50%;
  clip: rect(0px 50px 80px 50px);
  z-index:3;
}
.centr{
  background-color: gray;
  width:60px;
  height:60px;
  border-radius:100%;
  margin: 10px 10px;
  position: absolute;
  z-index:2;
}
.centr.over50 .left-half{
   /*Progress bar for the first 50%, filling the whole right half*/
   position: absolute; /*needed for clipping*/
   clip: rect(0, 60px, 60px, 50px);
   background-color: blue;
   border-radius: 50%;
   width: 60px;
   height: 60px;
}
.centrV{
  background-color: white;
  width:40px;
  position: absolute;
  height:40px;
  border-radius:50%;
  margin: 10px 10px;
  z-index:3;
}
.p10 .value-bar { transform: rotate(36deg); }
.p77 .value-bar { transform: rotate(277deg); }

.about-tool {
  float: left;
  width: 250px;
  height: 200px;
}
.tools {
  width: 50px;
  height: 50px;
}
