.h3 {
  padding-top:10px;
  }

.about-language {
  float: left;
  width: 300px;
  height: 200px;
  padding-bottom: 30px;
  padding-right: 10px;
}
.container {
  width: 100%;
  padding-top: 5px;
}

.lg {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.java {width: 95%; background-color: #808080; height: 12px;}
.mysql {width: 90%; background-color: #808080; height: 12px;}
.html {width: 85%; background-color: #808080; height: 12px;}
.php {width: 80%; background-color: #808080; height: 12px;}

.about-skills{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}

.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.left-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;

}
.right-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;

}
progress-value{
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: rgb(250, 245, 245);
    text-align: center;
    position: absolute;
}
.progress blue {
    border-color: #26abfd;
    width: 100%;
    height: 100%;
    background: none;
    border-width: 15px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress yellow {
    border-color: #fdc426;
    width: 100%;
    height: 100%;
    background: none;
    border-width: 15px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress pink{
    border-color: #f83754;
    width: 100%;
    height: 100%;
    background: none;
    border-width: 15px;
    border-style: solid;
    position: absolute;
    top: 0;
}



.about-tool {
  float: left;
  width: 250px;
  height: 200px;
}
.tools {
  width: 50px;
  height: 50px;
}
