.h3 {
  padding-top:10px;
  }

.about-skill {
  float: left;
  width: 300px;
  height: 200px;
  padding-bottom: 30px;
  padding-right: 10px;
}
.container {
  width: 100%;
  padding-top: 5px;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.java {width: 95%; background-color: #808080; height: 12px;}
.mysql {width: 90%; background-color: #808080; height: 12px;}
.html {width: 85%; background-color: #808080; height: 12px;}
.php {width: 80%; background-color: #808080; height: 12px;}

.about-tool {
  float: left;
  width: 250px;
  height: 200px;
}
.tools {
  width: 50px;
  height: 50px;
}
