.h3 {
  padding-top:10px;
  }

.about-skill {
  float: left;
  padding-left: 20px;
  width: 350px;
  height: 400px;
}
.container {
  width: 80%;
  padding-top: 5px;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.java {width: 95%; background-color: #808080;}
.mysql {width: 90%; background-color: #808080;}
.html {width: 85%; background-color: #808080;}
.php {width: 80%; background-color: #808080;}


.about-tool {
  float: right;
  padding-left: 20px;
  width: 100px;
  height: 100px;
  }
