<!DOCTYPE html>
<html>
  {% include head.html %}
  
 <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="about">
          <h1 class="page-heading">{{ page.title }}</h1>
          <h3>My Skills</h3>
          <div class="about-skill">
                    <div class="skill">
                      <div class="skill-title">JAVA</div>
                      <div class="skill-bar" data-bar="95"><span></span></div>
                    </div>
                    <div class="skill">
                      <div class="skill-title">MySql</div>
                      <div class="skill-bar" data-bar="90"><span></span></div>
                    </div>
                      <div class="skill">
                        <div class="skill-title">HTML</div>
                        <div class="skill-bar" data-bar="85"><span></span></div>
                    </div>
                    <div class="skill">
                      <div class="skill-title">PHP</div>
                      <div class="skill-bar" data-bar="80"><span></span></div>
                    </div>
            </div>
        </div>
  </div>
</div>
    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
