<!DOCTYPE html>
<html>
  {% include head.html %}
  
 <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="about">
          <h1 class="page-heading">{{ page.title }}</h1>
          <div class="about-language">
            <h3>| Programming language</h3>
          <div class="container">
            <div class="lg java">JAVA</div>
          </div>
          <div class="container">
            <div class="lg html">HTML</div>
          </div>
          <div class="container">
            <div class="lg mysql">MySql</div>
          </div>
          <div class="container">
            <div class="lg php">PHP</div>
          </div>
        </div>
	<div class="about-skills">
		<h3>| Programming Skills</h3>
              <div class="progress-blue">
                <span class="progress-left">
                  <span class="left-bar"></span>
                </span>
                <span class="progress-right">
                  <span class="right-bar"></span>
                </span>
                <div class="progress-value">90%</div>
               </div>
            </div>
            <div class="progress-yellow">
                <span class="progress-left">
                   <span class="left-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="right-bar"></span>
                </span>
                <div class="progress-value">75%</div>
            </div>
            <div class="progress-pink">
                <span class="progress-left">
                    <span class="left-bar"></span>
                </span>
                <span class="progress-right">
                     <span class="right-bar"></span>
                </span>
                <div class="progress-value">60%</div>
             </div>
	      </div>
          <div class="about-tool">
            <h3>| Programming Tools</h3>
          <img class="tools" src="/assets/img/about/eclipse.png" />
          <img class="tools" src="/assets/img/about/dw.png" />
          <img class="tools" src="/assets/img/about/tomcat.png" />
          </div>
     </div>
  </div>
</div>
    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
