<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="work">
          <h1 class="page-heading">{{ page.title }}</h1>
          {{ content }}

          {% for item in page.items %}
          <div class="work-item">
            {% if items.title1 = '임상시험 관련 웹 개발 프로젝트'%}
            <span class="work-text">
              <strong>{{ items.title1 }}</strong>
              <strong>{{ items.period1 }}</strong>
              &mdash;
              {{ items.description1 }}
            </span>
            {% end if %}
            <span class="work-text">
              <strong>{{ title2 }}</strong>
              <strong>{{ items.period2 }}</strong>
              &mdash;
              {{ items.description2 }}
            </span>
            <span class="work-text">
              <strong>{{ items.title3 }}</strong>
              <strong>{{ items.period3 }}</strong>
              &mdash;
              {{ items.description3 }}
            </span>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
