<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="work">
          <h1 class="page-heading">{{ page.title }}</h1>
          {{ content }}

          {% for item in page.items %}
          <div class="work-item">
            {% if items.title == '임상시험 관련 웹 개발 프로젝트' %}
            <span class="work-text">
              <strong>{{ items.title }}</strong>
              
              &mdash;
              {{ items.description }}
            </span>
            {% endif %}
            {% if items.title == '다수의 공공기관내 시스템 유지보수' %}
            <span class="work-text">
              <strong>{{ items.title }}</strong>
              
              &mdash;
              {{ items.description }}
            </span>
            {% endif %}
            {% if items.title == '데이터 활용 관리 및 역량 강화 프로젝트' %}
            <span class="work-text">
              <strong>{{ items.title }}</strong>
             
              &mdash;
              {{ items.description }}
            </span>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
